{
  "extends": "vue",
  "rules": {
		"indent": [
			"error",
			"tab"
		],
		"no-console": [
			"false"
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"never"
		]
	}
}
